body{
    background-color: #fffbdf;
  }
  h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    color: #334443;
  }
  h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
    color: #34656d;
  }

  button{
    border: none;
  }

  div{
    background-color: none;
  }

  i{
    transform: scale(4.0);
  }
  .players-choice{
    width: 50%;
    background-color: #fffbdf;
  }
  
  .players-choice:hover {
    transform: scale(1.2);
  }
  #button-div{
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
  }
  
  .title-div{
    text-align: center;
  }
  
  /* .score{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
  } */
  
  
  #computer-score{
    padding-left: 120px;
  }
  
  #score-container{
  
    margin: 100px auto 0 auto;
    width: 10%;
    text-align: center;

  }