body{
    background-color: #fffbdf;
    height: 100%;
  }
  h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    color: #334443;
  }
  h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
    color: #34656d;
  }

  button{
    border: none;
  }

  div{
    background-color: none;
  }

  i{
    transform: scale(4.0);
  }
  .players-choice{
    width: 50%;
    background-color: #fffbdf;
  }

  p{
    padding: 20px;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .players-choice:hover {
    transform: scale(1.2);
  }
  #button-div{
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
    margin-bottom: 30px;
    position: absolute;
    width: 100%;
    height: 10%;
  }
  
  .title-div{
    text-align: center;
  }
  
  
  #score-container{
  
    margin: 120px auto 0 auto;
    width: 45%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

  }

  #tie {
    width: 55%;
  }

  #player-result{
    width: 32%;
  }

  #computer-result{
    width: 60%;
  }

  #score-container2{
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 45%;
  }

  #player-score, #computer-score{
    width: 85%;
    font-size: 30px;;
  }